<%- include('components/header.html') %>
<%- include('components/navigation.html') %>
<div class="col-lg-10 col-md-10 col-sm-12 row justify-content-center py-2">
    <h1 class="text-danger" style="text-shadow: 4px 4px rgb(68, 5, 5);"><b>PRACTICAS DE AUXILIATURA SIS-414</b></h1>
    <ul class="container py-2">
        <li>
            <h4>practica Nro 1</h4>
            <iframe src="practicas/HTML & CSS.pdf" frameborder="0" width="100%" height="600px"></iframe>
        </li>
        <li>
            <h4>Practica Nro 2</h4>
            <iframe src="practicas/JS & BOOTSTRAP & GIT.pdf" frameborder="0" width="100%" height="600px"></iframe>
        </li>
    </ul>

</div>

<%- include('components/footer.html') %>