<%- include('components/header.html') %>
<%- include('components/navigation.html') %>
<h3 class="container">Mis Usuario</h3>
<a href="../users/crear" class="btn btn-success py-3">crear nuevos usuarios</a>
<table class="table py-4">
    <thead class=" bg-dark text-white">
        <tr>
            <th scope="col"> Nombre</th>
            <th scope="col"> Apellido</th>
            <th scope="col"> Email</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <% if (arrayUser.length > 0) {%>
        <%arrayUser.forEach(usuarios=>{ %>
    <tbody>
        <tr>
            <th><%= usuarios.nombre %></th>
            <th><%= usuarios.apellido %></th>
            <th><%= usuarios.email %></th>
            <th>
                <a href="../users/<%=usuarios.id%>" class="btn btn-warning btn-sm">Detalles</a>
            </th>
        </tr>
        <%})%>
        <% }%>
    </tbody>
</table>



<%- include('components/footer.html') %>