<%- include('../components/header.html') %>
<%- include('../components/navigation.html') %>
<div class="container py-5">
    <h1>Asignacion de Roles</h1>
    <form action="">
        <label for="rols"> seleccione un rol</label>
        <select name="roles" id="rols">
            <option value=""> Estudiante</option>
            <option value="">Docente</option>
            <option value="">Auxiliar</option>
        </select>
        <label for="">Escoger Usuario</label>
        <select name="" id="">
            <option value=""> Juan perz</option>
        </select>
    </form>
</div>

<%- include('../components/footer.html') %>