
           <div>
            <form action="/comentarios" method="POST">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">email</label>
                <input type="email" class="form-control" id="recipient-name" name="email">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Comentario</label>
                <textarea class="form-control" id="message-text" name="comentario"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar Comentario</button>
            </form>
           </div>