
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../stylos/css/bootstrap.css">
    <link rel="stylesheet" href="../stylos/stylos.css">

    <title><%= titulo%></title>
  </head>
  
<!-- <div class="color3 py-3 px-3 row ">
    <p class="col-3 bg-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. A eligendi obcaecati ea tempore dolorem autem?</p>
    <p class="col-2 bg-danger">Incidunt, repudiandae voluptates aliquid et ipsam sapiente, voluptatem, provident dicta ea nemo esse atque odio?</p>
    <p class="col-4 bg-primary">Eos eaque veritatis assumenda totam reprehenderit unde quibusdam, quos expedita eius tempora itaque. Fuga, saepe!</p>
    <p class="col-3 bg-danger">Praesentium, debitis aliquid illo impedit labore sunt, iure recusandae quam voluptas, accusamus vitae et perspiciatis?</p>
</div>  -->

  <body class=" color4 row py-3 justify-content-center " >
    
        <div class="color2 col-sm-11 col-md-11 col-lg-11 row justify-content-center py-3">
            <header class=" color2 col-lg-12 col-md-12 col-sm-12 row justify-content-center align-items-center py-1" >
                <div class="  col-lg-2 col-md-3 col-sm-5"><img class="img-fluid rounded-circle" src="../img/logo.jpg" alt="">
    </div>
                <div class=" col-lg-4 col-md-3 col-sm-7 text-left "><b><p class="text-white">Auxiliatura <br> Sis-414</p></b>
    </div>
                <div class=" col-lg-6 col-md-6 col-sm-12 text-white"> <h1 class="text-center">TECNOLOGIAS EMERGENTES GRUPO 1</h1>
    </div>
            </header>