
            <nav class="color1 col-sm-12 col-md-12 col-lg-12 py-3 row navbar navbar-expand-lg navbar-dark">  
                <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button" >
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="col-lg-8 col-md-6 col-sm-6 collapse navbar-collapse py-1" id="menu" >
                    <ul class="navbar-nav mr-auto">
                        <li><a href="" class="nav-link"><b>INICIO</b></a></li>
                    
                        <li><a href="./practicas" class="nav-link"><b>PRACTICAS</b></a></li>
                    
                        <li><a href="" class="nav-link"><b>VIDEOS</b></a></li>
                    
                        <li><a href="/users" class="nav-link"><b>USUARIO</b></a></li>
                  
                        <li><a href="/#contact" class="nav-link"><b> CONTACTOS </b></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-white">
                   <div id="tiempo" ></div>
                   <div >
                       <span id="fecha"></span>
                   </div>
                    
                </div>
            </nav>